{% extends 'base.html' %}

{% block title %} files {% endblock %}

{% block content %}


  <h1> blackalex V1 </h1>
  <ul class="list-group">
    todo list
    <li class="list-group-item">make it so empty directories can be deleted </li>
    <li class="list-group-item">add a trashcan page for files </li>
    <li class="list-group-item">make it so the frontend compresses files big before sending them down wire </li>
    <li class="list-group-item">make it so the backend does a brife check (I already have a libary of files with some movies that need to be compressed) </li>
    <li class="list-group-item">perhapes add a shoping cart of sorts where you can select multiple files and then the user can save the whole cart at once in a zip file</li>
  </ul>



{% endblock %}
