{% extends 'base.html' %}

{% block title %} files {% endblock %}

{% block content %}

   <br>
   <div class="container">
     <div class="row">
       <div class="col col-lg-2">
         <a class="btn btn-dark" href="{% url 'home' %}">Back</a>
       </div>
       <div class="col">
         {% for file in list_of_files %}
           <div class="card">
             <div class="card-body">
               <a href="{% url 'download_file' dir file %}">{{ file }}</a>
             </div>
           </div>
         {% endfor %}
       </div>
       <div class="col col-lg-3">
         <form method='POST' action="{% url 'upload_file' dir %}" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="input-group mb-3 dark">
              <input type="file" class="form-control" name="new_file">
            </div>
            <input class="btn btn-dark" type="submit">
         </form>
       </div>
     </div>
   </div>
   <br>

{% endblock %}
